@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

body {
    /* background-image: url("../assets/wallpaper.jpg"); */
    background-color: #cccccc;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(../assets/wallpaper.jpg);
}

.welcome_msg {
    width:60%;
    margin:1rem auto!important ;
    font-size: 5rem !important;
    color: white !important;
    text-align: center;
    font-family: 'Square Peg', cursive;
    font-weight:bolder;
    height: 12rem;
    
}
h2{
    margin-top:0 !important;
}

.card_weathr{
    border-radius:10px !important;
    padding:2% !important;
    width:60% !important;
    margin: 0 auto !important;
    border : 5px ridge slategray ;
    background-color: #E6E6FA;
    text-align: center !important;
    /* border : 5px ridge rgb(164, 197, 230) ; */
    border-bottom-color: aqua;
   
}


/* .card-img{
    width:40% !important;
    height: 50rem;
} */
.pep{
    height: 10%;
    width: 20%;
    margin: 0 auto;
}
.img-pep{
    margin: 0 ;
    margin-right: 20%;
    width: 20%;
}
ul{
    list-style: none;
}


.mainCarasoul{
    margin:5% auto !important ;
    color:rgb(255, 255, 255) !important;
    /* padding:5% !important; */
    width: 60%;
    text-align: center;
    background-origin: border-box;
    /* border: 1px inset; */
    /* background-color : rgba(130, 130, 130, 0.7) ; */
    border : 5px ridge rgb(164, 197, 230) ;
    border-top-color: aqua;
    border-radius:10px !important;
}

.about_us {
    width:80%;
    text-align: center;
    margin: 8rem auto !important;
    font-size: 20px !important;
    color: white !important;
}

.dest_card{
    width:70% !important
}
.destinations_cards {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr ;
}

.card-title:hover {
    text-transform: uppercase;
    transform: scale(1.4);
    font-weight:600 ;
}
.card-title {
    transition: transform 250ms, opacity 400ms !important;
    text-align:center !important;
 }


.contact_form {
    margin:0 auto;
    background-color: white !important;
    width:70%;
    padding:3%;
    border-radius:10px;
}
.info-card{
    margin: 5% auto !important;
    width: 40% ;
    border-radius: 5%;
}